

#carouselExampleCaptions { height: 500px}

#carouselExampleCaptions img { max-height: 500px }

#Titulo_img{color:black;}
.subtitulos {
    font-family: "Homer Simpson UI"; 
    border-bottom: black;
    border-style: outset;
}
#londres{
    width: 100%;
  max-height: 600px;

}
#pon{ width: 100%;
    max-height: 600px;}
  
  
    body{background-color: black;}
    body{color: white;}

